@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,100;1,700&display=swap');

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #8892b04d;
}

.dark ::-webkit-scrollbar-thumb {
  background: #ccd6f6;
}

body {
  font-family: 'Roboto', sans-serif;
}

.hide {
  overflow-y: hidden;
  height: 100vh;
}
.hamBtn.open span:nth-child(1) {
  transform: rotate(-45deg);
  transition: 300ms ease;
}
.hamBtn.open span:nth-child(3) {
  display: none;
  transition: 300ms ease;
}
.hamBtn.open span:nth-child(2) {
  transform: rotate(45deg) translate(-5px, -6px);
  width: 30px;
  transition: 300ms ease;
}

.menu.open {
  transform: translateX(0);
}

header.active {
  box-shadow: 0 10px 30px -10px rgba(2, 12, 27, 0.5);
}

.dark header.active {
  box-shadow: 0 10px 30px -10px #eee;
}
.resume:hover {
  box-shadow: 5px 5px 0 #fcdb56;
}
.dark .resume:hover {
  box-shadow: 5px 5px 0 #b63f3f;
}

small {
  word-spacing: 5px;
}

.stack ul li {
  position: relative;
}

.stack ul li::before {
  content: '▹';
  position: absolute;
  color: #fcdb56;
  left: -20px;
}

.dark .stack ul li::before {
  color: #b63f3f;
}

.back_to_top.active {
  display: grid;
  bottom: 2rem;
}

.add_film::after,
.project_img::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #fcdb56;

  opacity: 0.4;
  border-radius: 20px;
  transition: all 400ms ease;
}

.dark .add_film::after,
.dark .project_img::after {
  background-color: #c07373;
}
.project_img::after {
  border-radius: 0;
}
.add_film::before {
  content: '';
  position: absolute;
  inset: 0;
  border: 2px solid #fcdb56;
  border-radius: 15px;
  z-index: -1;
  transform: translate(15px, 15px);
}

.dark .add_film::before {
  border: 2px solid #b63f3f;
}

.add_film:hover::after,
.project_img:hover::after {
  opacity: 0;
  cursor: pointer;
}

.dark .other {
  box-shadow: 0 0px 10px rgba(231, 51, 43, 0.2);
}

svg:hover {
  stroke: #fcdb56;
}

.swiper-pagination-bullet-active-next {
  background: #8892b0 !important;
  opacity: 0.5 !important;
}
.swiper-pagination-bullet-active-prev {
  background: #8892b0 !important;
  opacity: 0.5 !important;
}

.swiper-slide {
  height: 100% !important;
}

.nav-menu {
  counter-reset: number;
}

.nav-menu > a {
  counter-increment: number;
  position: relative;
  font-size: 14px;
}

.nav-menu > a::before {
  content: counter(number) '.';
  left: -20px;
  position: absolute;
  color: #fcdb56;
}
.dark .nav-menu > a::before {
  color: #b63f3f;
}

.header:after {
  content: '';
  position: absolute;
  height: 5px;
  width: 30px;
  background-color: #fcdb56;
  bottom: -10px;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  left: 50%;
}

.dark .header:after {
  background-color: #b63f3f;
}

@media screen and (max-width: 540px) {
  .description {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }
}
